DISCORD_GUILD_ID=
DISCORD_SELF_USER_ID=
DISCORD_BOT_TOKEN=
DISCORD_DAILY_CHANNEL_ID=
DISCORD_DAILY_CHANNEL_NAME=
DISCORD_DAILY_WEBHOOK_URL=
DISCORD_MONTHLY_DAILY_WEBHOOK_URL=
DISCORD_RESEARCH_WEBHOOK_URL=
DISCORD_RESEARCH_CHANNEL_ID=
DISCORD_LIFE_LOG_CATEGORY_ID=
DISCORD_FOOD_CHANNEL_ID=
DISCORD_ACTIVITY_CHANNEL_ID=
DISCORD_ACTIVITY_CHANNEL_NAME=
DISCORD_WATCH_CHANNEL_ID=
DISCORD_WATCH_CHANNEL_NAME=
DISCORD_WATCHLIST_CHANNEL_ID=
DISCORD_WATCHLIST_CHANNEL_NAME=
DISCORD_MOOD_CHANNEL_ID=
DISCORD_MOOD_CHANNEL_NAME=
DISCORD_WAKE_CHANNEL_ID=
DISCORD_WAKE_CHANNEL_NAME=
DISCORD_REFLECTION_CHANNEL_ID=
DISCORD_REFLECTION_CHANNEL_NAME=
DISCORD_COMMAND_CHANNEL_ID=
DISCORD_COMMAND_CHANNEL_NAME=
DISCORD_AI_AUTOMATION_CATEGORY_ID=
DISCORD_AI_CHAT_CHANNEL_ID=
DISCORD_AI_CHAT_CHANNEL_NAME=
DISCORD_AI_REPLY_MODE=QueueOnly
DISCORD_AI_REPLY_MAX_MESSAGES=1
DISCORD_CALENDAR_CHANNEL_ID=
DISCORD_CALENDAR_CHANNEL_NAME=
DISCORD_CALENDAR_WEBHOOK_URL=
DISCORD_UNIVERSITY_MAIL_CHANNEL_ID=
DISCORD_UNIVERSITY_MAIL_CHANNEL_NAME=
DISCORD_UNIVERSITY_MAIL_WEBHOOK_URL=
DISCORD_TUTORING_MAIL_CHANNEL_ID=
DISCORD_TUTORING_MAIL_CHANNEL_NAME=
DISCORD_TUTORING_MAIL_WEBHOOK_URL=
DISCORD_MAIL_ANNOUNCEMENT_CATEGORY_ID=
DISCORD_MAIL_ANNOUNCEMENT_CATEGORY_NAME=
DISCORD_MAIL_TIMELINE_CHANNEL_ID=
DISCORD_MAIL_TIMELINE_CHANNEL_NAME=
DISCORD_MAIL_TIMELINE_WEBHOOK_URL=
DISCORD_NEWS_CATEGORY_ID=
DISCORD_NEWS_CATEGORY_NAME=
DISCORD_AI_NEWS_CHANNEL_ID=
DISCORD_AI_NEWS_CHANNEL_NAME=
DISCORD_AI_NEWS_WEBHOOK_URL=
DISCORD_MATH_NEWS_CHANNEL_ID=
DISCORD_MATH_NEWS_CHANNEL_NAME=
DISCORD_MATH_NEWS_WEBHOOK_URL=
OPENAI_API_KEY=
OPENAI_AI_CHAT_MODEL=
OPENALEX_API_KEY=
RESEARCH_CONTACT_EMAIL=
DISCORD_INCLUDE_GUILD_IDS=
DISCORD_EXCLUDED_GUILD_IDS=
DISCORD_EXCLUDED_GUILD_NAMES=
X_BEARER_TOKEN=
GOOGLE_CALENDAR_ICAL_URL=
WEATHER_LATITUDE=
WEATHER_LONGITUDE=
WEATHER_LOCATION_LABEL=
